.rounded_searchbar {
  border: 1px solid;
  border-radius: 2rem;
  padding: 0 1rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  max-width: 700px;
  width: 100%;
  align-items: center;
  z-index: 100;
  min-width: ;
}

.input {
  border: transparent;
  padding: 0.5rem 1rem;
  width: 100%;
  outline-color: transparent;
}

.justify {
  display: grid;
  place-items: center;
  width: 100%;
  position: absolute;
  z-index: 5;
  background-color: white;
  padding: 6rem 0  1rem 0;
}

/* .icon {
  height: 1.5rem;
} */


.tabledata {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  z-index: 5;
  background-color: transparent;
  padding: 7.5rem 0  1rem 0;
}

.button {
  background: transparent;
  border: transparent;
  font-weight: bold;
  position: inherit;
  cursor: pointer;
  background: white;
  width: inherit;
  height: 3rem;
  top: -1px;
  height: 3.5rem;
  padding-top: 1rem;
  text-align: left;
  z-index: 1;
}

.button1 {
  background: transparent;
  border: transparent;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 640px) {
  .rounded_searchbar {
    width: 90%;
  }
}