.button_alt {
  font: inherit;
  cursor: pointer;
  background-color: #16caaf;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem 0 1rem 1rem;
  margin: 1rem 0;
}